@mixin shrink-margins($margin: 0) {
  &:first-of-type {
    margin-left: $margin !important;
  }

  &:last-of-type {
    margin-right: $margin !important;
  }
}

@mixin shrink-paddings-lr($padding: 0) {
  &:first-of-type {
    padding-left: $padding !important;
  }

  &:last-of-type {
    padding-right: $padding !important;
  }
}

@mixin shrink-paddings-tb($padding: 0) {
  &:first-of-type {
    padding-top: $padding !important;
  }

  &:last-of-type {
    padding-bottom: $padding !important;
  }
}

// --------------------------------------------------- //
//                       FEATURED                      //
// --------------------------------------------------- //

.featured {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background: var(--bg-brighter);
  border-radius: 10px;
  max-height: 400px;
  box-shadow: var(--shadow-lighter);
  transition: var(--trans-default);
  margin: 20px 0;

  h3 {
    font-size: 1.5em;
    margin: 0 0 10px;
    font-weight: 800;
  }

  h4 {
    font-size: 0.8em;
    opacity: 0.2;
    font-weight: 700;
    margin: 0 0 5px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    display: inline-flex;
    align-items: center;

    &::before {
      content: "";
      height: 2px;
      width: 20px;
      background-color: var(--main-color);
      display: block;
      margin-right: 10px;
    }
  }

  p {
    font-size: 1em;
    opacity: 0.8;
    margin-bottom: 10px;
  }

  &:hover {
    box-shadow: var(--shadow-light);

    .featured-thumbnail {
      transform: scale(1.2);
    }
  }

  .image-wrapper {
    height: 100%;
    width: 50%;
    display: flex;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 10px 0 0 10px;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -1px;
      right: -150px;
      background-color: var(--bg-brighter);
      z-index: 5;
      width: 150px;
      height: 100%;
      transform-origin: top right;
      transform: skew(-20deg);
      transition: var(--trans-anim);
    }
  }
}

.featured-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
  transition: var(--trans-anim);
}

.featured-inner {
  position: relative;
  box-sizing: border-box;
  padding: 20px;
  width: 50%;
}

.featured-source {
  font-size: 1.5em;
  position: absolute;
  bottom: 20px;
  right: 20px;

  &:hover {
    color: var(--accent);
    transform: scale(1.2);
  }
}

.featured-right {
  flex-direction: row-reverse;

  .image-wrapper {
    border-radius: 0 10px 10px 0;

    &::after {
      left: -150px;
      top: -1px;
      transform-origin: bottom left;
    }
  }

  .featured-thumbnail {
    border-radius: 0 10px 10px 0;
  }
}

// --------------------------------------------------- //
//                     PUBLICATIONS                    //
// --------------------------------------------------- //

.publication {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  background: var(--bg-brighter);
  border-radius: 10px;
  box-shadow: var(--shadow-lighter);
  transition: var(--trans-default);
  margin: 20px 0;

  h3 {
    font-size: 1.3em;
    margin: 0 0 15px;
    font-weight: 800;
  }

  p {
    font-size: 0.8em;
    opacity: 0.8;
    margin: 20px 0;
  }

  &:hover {
    box-shadow: var(--shadow-light);
  }
}

.publication-doi {
  font-size: 0.8em;
  position: relative;
  align-self: start;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    height: 1px;
    width: 100%;
    background: var(--main-color);
    transition: var(--trans-default);
  }

  &:hover::after {
    background: var(--accent);
  }
}

.publication-metadata {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 0.9em;

  span {
    font-weight: normal;
    margin-left: 10px;
  }

  .metadata-separator {
    margin: 0 8px;
    opacity: 0.5;
  }
}

.publication-keywords {
  display: flex;
  gap: 12px;
  font-size: .7em;
  margin: 5px 0;

  span::before {
    content: "#";
    opacity: .2;
    font-weight: bold;
    margin-right: 4px;
  }
}

// --------------------------------------------------- //
//                    SECTION LAYOUT                   //
// --------------------------------------------------- //

section {
  display: flex;
  position: relative;
  background-color: var(--bg);
  color: var(--main-color);
  padding: 20px 0;
}

.padding-section {
  padding: 80px 0;
}

.full-height {
  height: 100vh;
  min-height: 700px;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: var(--global-max-width);
  margin: 0 auto;
}

.row {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.row-reversed {
  flex-direction: row-reverse;
}

.padding-row {
  padding: 20px 0 !important;
}

.row-slim {
  padding: 10px 0;

  & div {
    @include shrink-paddings-lr();
  }
}

.row-1 {
  max-width: 75%;
}

.x-axis-space-between {
  justify-content: space-between !important;
}

.x-axis-centered {
  justify-content: center !important;
}

.x-axis-start {
  justify-content: flex-start !important;
}

.x-axis-end {
  justify-content: flex-end !important;
}

.y-axis-centered {
  align-items: center !important;
}

.y-axis-stretched {
  align-items: stretch !important;
}

@mixin column() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  padding: 0 15px;
}

.column {
  @include column();
}

.column-left {
  @include column();
  align-items: flex-start;
  text-align: left;
}

.column-centered {
  @include column();
  align-items: center;
  text-align: center;
}

.column-right {
  @include column();
  align-items: flex-end;
  text-align: right;
}

.column-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  padding: 0 15px;
}

.column-min {
  @include column();
  width: auto;
}

.col-alt-padding {
  .row {
    @include shrink-paddings-tb();
  }

  .row-slim {
    @include shrink-paddings-tb(10px);
  }
}

.col-no-padding {
  padding: 0;
}

@media screen and (800px < width) {
  .col-2 {
    max-width: 50%;
  }
}

@media screen and (width <=800px) {
  .col-2 {
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (800px < width) {
  .col-3 {
    max-width: 33.3%;
  }

  .col-3-double {
    max-width: 66.6%;
  }
}

@media screen and (600px < width <=800px) {
  .col-3,
  .col-3-double {
    width: 50%;
    max-width: 50%;
  }
}

@media screen and (width <=600px) {
  .col-3,
  .col-3-double {
    max-width: 100%;
    width: 100%;
  }
}

@media screen and (900px < width) {
  .col-4 {
    max-width: 25%;
  }

  .col-4-triple {
    max-width: 75%;
  }
}

@media screen and (600px < width <=900px) {
  .col-4,
  .col-4-triple {
    width: 50%;
    max-width: 50%;
  }
}

@media screen and (width <=600px) {
  .col-4 {
    width: 100%;
    max-width: 100%;
  }
}

.col-border {
  border: 2px solid var(--bg-light);
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 15px 0;
}

.col-margin {
  margin: 20px 0;
}

.nowrap {
  flex-wrap: nowrap;
}

@media screen and (500px < width <=800px) {
  .row-on-smaller-screens {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media screen and (width <=500px) {
  .row-on-smaller-screens {
    flex-direction: column;
    justify-content: center;
  }
}

// --------------------------------------------------- //
//                  NAVIGATION LAYOUT                  //
// --------------------------------------------------- //

.mobile-nav {
  position: fixed;
  width: 100%;
  height: var(--nav-height);
  top: 0;
  left: 0;
  z-index: 10;
  color: var(--main-color);

  ul {
    display: none;
    opacity: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: var(--trans-default);

    li {
      list-style: none;
      margin: 0;
      transition: var(--trans-default);

      a {
        display: block;
        padding: 1.2rem;
        font-size: 1.5em;
        font-weight: 500;

        &:hover {
          color: var(--accent);
        }
      }
    }
  }

  .nav-top-bar {
    width: 100%;
    max-width: var(--global-max-width);
    margin: 0 auto;
    position: relative;
  }

  .nav-switcher {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    opacity: 0.8;
    z-index: 11;
    transition: var(--trans-default);

    &.dark-switcher {
      .top-line,
      .middle-line,
      .bottom-line {
        background-color: var(--bg);
      }
    }

    button {
      padding: 10px;
      width: 40px;
      height: 40px;
      background-color: transparent;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
    }

    .top-line,
    .middle-line,
    .bottom-line {
      display: block;
      height: 2px;
      width: 18px;
      background-color: var(--main-color);
      border-radius: 2px;
      transition: var(--trans-default);
    }

    .middle-line {
      width: 24px;
    }

    &,
    * {
      cursor: pointer;
    }

    &:hover {
      opacity: 1;
    }
  }

  &.nav-visible {
    background-color: var(--bg-dark);
    opacity: 0.9;
    height: 100%;

    ul {
      display: block;
      opacity: 1;
    }

    .dark-switcher {
      .top-line,
      .middle-line,
      .bottom-line {
        background-color: var(--main-color);
      }
    }

    .top-line {
      transform: translateY(9px) rotate(45deg);
      width: 24px;
    }

    .bottom-line {
      transform: translateY(-9px) rotate(-45deg);
      width: 24px;
    }

    .middle-line {
      width: 0;
    }
  }
}

@media screen and (width > 800px) {
  .mobile-nav {
    display: none;
  }
}

.desktop-nav {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  height: var(--nav-height);
  color: var(--main-color);
  transition: var(--trans-anim);

  &.nav-collapsed {
    position: fixed;
    transform: translateY(calc(var(--nav-height) * -1));
    background-color: var(--bg-dark);
    opacity: 0;
  }

  &.nav-slidein {
    position: fixed;
    transform: translateY(0);
    background-color: var(--bg-dark);
    z-index: 100;
  }

  .nav-inner {
    max-width: var(--global-max-width);
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    box-sizing: border-box;
  }

  .nav-links {
    margin: 0;
    padding: 0;
    opacity: 1;

    li {
      display: inline-block;
      list-style: none;
      margin: 0 20px;
      height: var(--nav-height);
      @include shrink-margins();

      a {
        position: relative;
        font-size: 0.7em;
        font-weight: 500;
        display: inline-flex;
        align-items: center;
        transition: var(--trans-default);
        height: 100%;

        &::after {
          content: "";
          display: block;
          background-color: transparent;
          height: 2px;
          width: 100%;
          position: absolute;
          bottom: calc(50% - 10px);
          left: 0;
          transition: var(--trans-default);
        }

        &:hover::after {
          background-color: var(--accent);
        }
      }
    }
  }
}

@media screen and (width <= 800px) {
  .desktop-nav {
    display: none;
  }
}

.adjust-to-nav {
  margin-top: var(--nav-height);
}

// --------------------------------------------------- //
//                   ALERTBOX LAYOUT                   //
// --------------------------------------------------- //

.alert-box {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  padding: 1rem;
  border-radius: 0.5rem;
  z-index: 1;
  font-size: 0.8em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  max-width: 25rem;

  i,
  span {
    display: block;
  }

  i {
    font-size: 1.2em;
    margin-right: 10px;
  }

  &.shown {
    visibility: visible;
  }

  &.success {
    background-color: var(--green);
    color: var(--green-dark);
  }
  &.error {
    background-color: var(--red);
    color: var(--red-dark);
  }
}

@media screen and (width <= 800px) {
  .alert-box {
    width: calc(100vw - 60px);
  }
}
