@media screen and (max-width: 800px) {
  .scroll-to-top {
    background-color: var(--bg-dark);
    padding: 10px;
    border-radius: var(--radius-sm);
    right: 20px;
    bottom: 20px;
  }

  .nowrap {
    flex-wrap: wrap !important;
  }

  .column-min {
    width: 100% !important;
    align-items: center;
    text-align: center;
  }
}

@media screen and (min-width: 600px) {
  body {
    font-size: 14pt;
  }
}

@media screen and (max-width: 800px) {
  .padding-section {
    padding: 90px 0;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }

  .contact-form {
    grid-template-columns: 1fr;
  }
}
