@media screen and (max-width: 800px) {
  .scroll-to-top {
    background-color: var(--darker-bg);
    padding: 10px;
    border-radius: 5px;
    right: 20px;
    bottom: 20px;
  }

  .nowrap {
    flex-wrap: wrap !important;
  }

  .column-min {
    width: 100% !important;
    align-items: center;
    text-align: center;
  }

  #about-me-img {
    width: 10em !important;
    height: 10em !important;
  }

  .image-wrapper::after {
    transform: none !important;
  }
}

@media screen and (max-width: 600px) {
  .featured {
    flex-direction: column !important;
    max-height: unset !important;

    .image-wrapper {
      width: 100% !important;
      border-radius: 10px 10px 0 0 !important;

      ::after {
        display: none !important;
      }
    }
  }

  .featured-inner {
    width: 100% !important;
  }

  .featured-thumbnail {
    position: static !important;
    border-radius: 10px 10px 0 0 !important;
    max-height: 300px;
  }


  .half-input {
    margin: 10px 0 !important;
    width: 100%;
  }
}
